@charset "UTF-8";
html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  height: 100%;
}
body {
  color: #000;
  padding: 0;

  margin: 0;
  font-size: 1.2rem;
  font-size: 12px;
  font-family: 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'HiraKakuProN-W3';
  width: 100%;
  height:100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul li {
  list-style-type: none;
}
.bold {
  font-weight: bold;
}
head {
  background: #fff;
}
.wrap {
  overflow: hidden;
}
.en {
  font-family: "Helvetica Neue";
}
.btn {
  font-family: 'Arial',sans-serif;
}
h3 {
  font-weight: normal;
}
h4 {
    font-family: 'HiraKakuPro-W6', 'HiraKakuProN-W6', 'HiraKakuProN-W6';
}
.global-nav li a {
  color: #333;
}
.global-nav li a:hover {
  -moz-transition-duration:0.5s;
  -webkit-transition-duration:0.5s;
  -o-transition-duration:0.5s;
  -ms-transition-duration:0.5s;
  opacity: 0.5;
}
/* pc */
@media screen and (min-width:769px) {
  .pc {
    display: block !important;
  }
  .sp {
    display: none !important;
  }
  .header-wrap {
    width: 1160px;
    height: 70px;
    margin: 0 auto;
  }
  h3 {
    font-size: 2.6rem;
    font-size: 26px;
  }
  /* ヘッダー */
  h1 {
    float: left;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav {
    float: left;
    margin-left: 83px;
    margin-right: 34px;
    margin-top: 30px;
  }
  .global-nav li {
    display: inline-block;
  }
  .global-nav li:first-child {
    margin-right: 35px;
  }
  .global-nav li:nth-child(2) {
    margin-right: 36px;
  }
  .global-nav li:nth-child(3) {
    margin-right: 35px;
  }
  .global-nav li:nth-child(4) {
    margin-right: 35px;
  }
  .header-online-btn {
    display: block;
    font-size: 1.3rem;
    font-size: 13px;
    font-weight: bold;
    width: 120px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-top: 23px;
    float: left;
    border: solid 1px #000;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .header-wrap .header-online-btn {
    background: #000;
    color: #fff;
  }
  .header-online-btn:hover {
    background: #fff;
    color: #000;
}
  .header-sns {
    float: right;
    margin-top: 20px;
  }
  .header-sns li {
    display: inline-block;
  }
  .header-sns li:not(:last-child){
    margin-right: 7px;
  }
  .header-sns li i {
    width: 32px;
    height: 32px;
    line-height: 31px;
    text-align: center;
    border: solid 1px #000;
    border-radius: 50%;
    color: #fff;
    background: #000;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .header-sns .fa-facebook-f {
    padding-right: 1px;
  }
  .header-sns .fa-instagram {
    font-size: 1.4rem;
    font-size: 14px;
  }
  .header-sns .fa-play {
    font-size: 1.1rem;
    font-size: 11px;
    padding-left: 2px;
  }
  .header-sns li i:hover {
    color: #000;
    background: #fff;
  }
  /* メイン */
  .mv {
    overflow: hidden;
    margin-bottom: 80px;
    width: 100%;
    position: relative;
}

.mv ul {
  width: 100%;
  height: 100%;
  padding-top: 51.8%;
    overflow: hidden;
    position: relative;
}

.mv ul li {
    top: 0;
    left: 0;
    width:100%;
    height: auto;
    display: none;
    position: absolute;
}
  .mv .mv-img {
    width: 100vw;
    height: auto;
  }
  .mv-logo {
    position: absolute;
    top: 39.5vw;
    left: 8.1vw;
    z-index: 20;
  }
  .mv-logo img {
    width: 18.8vw;
    height: auto;
  }
  .mv-instagram {
    position: absolute;
    bottom:8%;
    right: 3%;
    z-index: 21;
  }
  .mv-instagram img {
    width: 14vw;
    height: auto;
  }
  .larger-than-life {
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 82px;
  }
  .larger-than-life h2 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    float: left;
  }
  .larger-than-life-txt-wrap {
    float: right;
  }
  .larger-than-life-txt {
    line-height: 24px;
  }
  .btn {
    font-size: 1.3rem;
    font-size: 13px;
    display: block;
    width: 160px;
    height: 42px;
    line-height: 42px;
    text-align: center;
  }
  .larger-than-life-txt-wrap .btn {
    border: solid 1px #000;
    margin-top: 40px;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .larger-than-life-txt-wrap .btn:before {
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    transform: rotate(-45deg);
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .larger-than-life-txt-wrap .btn:hover {
    background: #000;
    color: #fff;
  }
  .larger-than-life-txt-wrap .btn:hover:before {
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
  }
  /* スライダー */
  .slider-wrap {
    height: 659px;
    padding: 0 20px;
    padding-top: 40px;
    background: url(../pc_images/pc_slider_bg.png) no-repeat center / cover;
  }
  .slider {
    width: 1160px;
    height: 580px;
    margin: 0 auto;
    position: relative;
  }
  .slider-cont {
    width: 1160px;
    height: 580px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  .slider-box {
    position: absolute;
    width: 1160px;
    height: 580px;
    top: 0;
    left: 0;
  }
  .slider-img {
    width: 580px;
    height: 580px;
    float: left;
  }
  .slider-link-box {
    width: 355px;
    margin: 0 auto;
    padding-top: 160px;
  }
  .slider-link {
    width: 580px;
    height: 580px;
    float: left;
    color: #fff;
  }
  .slider-link a {
    color: #fff;
  }
  .kingdome {
    background: #1e2b60;
  }
  .flash {
    background: #000;
  }
  .kingdome p {
    line-height: 20px;
    margin-top: 18px;
    margin-bottom:45 px;
  }
  .flash p {
    line-height: 20px;
    margin-top: 28px;
    margin-bottom: 39px;
  }
  .slider-link .btn {
    margin-top: 37px;
    border: solid 1px #fff;
    color: #fff;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .slider-link .btn:before {
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: rotate(-45deg);
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 1px;
  }

  .kingdome .btn:hover {
    background: #fff;
    color: #1e2b60;
  }
  .kingdome .btn:hover:before {
    border-bottom: solid 1px #1e2b60;
    border-right: solid 1px #1e2b60;
  }
  .flash .btn:hover {
    background: #fff;
    color: #000;
  }
  .flash .btn:hover:before {
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
  }
  .bx-prev {
    position: absolute;
    top: 290px;
    left: -50px;
  }
  .bx-next {
    position: absolute;
    top: 290px;
    right: -50px;
  }
  .bx-prev {
    content: ' ';
    display: block;
    width: 32px;
    height: 32px;
    border-left: solid 1px #303030;
    border-bottom: solid 1px #303030;
    transform: rotate(45deg);
  }
  .bx-next {
    content: ' ';
    display: block;
    width: 32px;
    height: 32px;
    border-right: solid 1px #303030;
    border-top: solid 1px #303030;
    transform: rotate(45deg);
  }
  /* インデックス */
  .index {
    padding: 0 20px;
    padding-bottom: 60px;
  }
  .index-wrap {
    width: 1480px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .index-item {
    position: relative;
    width: 710px;
    height: 294px;
    overflow: hidden;
    padding-top: 125px;
    text-align: center;
    color: #fff;
  }
  .index-item:after {
    width: 100%;
    height: 100%;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
    position: absolute;
    content: ' ';
    display: block;
    top: 0;
  }
  .index-item:hover:after {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .index-item a {
    color: #fff;
    display: block;
    margin: -124px 0 -130px;
    padding: 124px 0 130px;
    position: relative;
    z-index: 1;
  }
  .index-item h3 {
    padding-bottom: 6px;
  }
  .index-item:nth-child(odd) {
    float: left;
  }
  .index-item:nth-child(even) {
    float: right;
  }
  .product {
    margin-bottom: 40px;
  }
  .product:after {
    background: url(../pc_images/pc_product.png) no-repeat center / cover;
  }
  .shop {
    margin-bottom: 40px;
  }
  .shop:after {
    background: url(../pc_images/pc_shop.png) no-repeat center / cover;
  }
  .special-movie:after {
    background: url(../pc_images/pc_special_movie.png) no-repeat center / cover;
  }
  .friends:after {
    background: url(../pc_images/pc_friends.png) no-repeat center / cover;
  }
  /* ニュース */
  .news-wrap {
    margin-top: 80px;
  }
  .news-wrap h3, .news-sab {
    text-align: center;
  }
  .news-wrap h3 {
    padding-bottom: 7px;
  }
  .news {
    width: 980px;
    margin: 0 auto;
    margin-top: 38px;
    margin-bottom: 40px;
    display:-webkit-box;
    display:-ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
  }
  .news li {
    width: 300px;
  }
  .news li a {
    display: block;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .news li a:hover {
    opacity: 0.8;
  }
  .news li img {
    padding-bottom: 13px;
  }
  .news li time {
    font-size: 1.4rem;
    font-size: 14px;
  }
  .news li h4 {
    font-size: 1.4rem;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .news li p {
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  .news-wrap .btn {
    margin: 0 auto;
    border: solid 1px #000;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .news-wrap .btn:before {
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    transform: rotate(-45deg);
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 1px;
  }
  .news-wrap .btn:hover {
    background: #000;
    color: #fff;
  }
  .news-wrap .btn:hover:before {
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
  }
  /* ページトップ */
  .page-top {
    width: 58px;
    height: 58px;
    background: #3d3f41;
    border-radius: 50%;
    position: fixed;
    bottom: 80px;
    right: 20px;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .page-top:after {
    content: ' ';
    display: block;
    width: 13px;
    height: 13px;
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    transform: rotate(-45deg);
    margin: 0 auto;
    margin-top: 25px;
  }
  .page-top:hover {
    opacity: 0.8;
  }

  /* フッター */
  .footer {
    padding: 25px 20px;
  }
  .footer-wrap {
    width: 1480px;
    margin: 0 auto;
  }
  .footer-sns {
    float: right;
  }
  .footer-sns li {
    display: inline-block;
    width: 23px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
  .footer-sns li:nth-child(2) {
    margin-left: 15px;
  }
  .footer-sns li:nth-child(3) {
    margin-left: 10px;
  }
  .footer-sns li:nth-child(4) {
    margin-left: 11px;
  }
  .footer-sns li i {
    font-size: 20px;
  }
  .footer-sns li a {
    color: #ababab;
    display: block;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .footer-sns li a:hover {
    opacity: 0.5;
  }
  .footer-nav {
    float: right;
    margin-right: 30px;
    font-size: 0;
  }
  .footer-nav li {
    font-size: 1.2rem;
    font-size: 12px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
  }
  .footer-nav li:not(:last-child) {
    border-right: solid 1px #7f7f7f;
    padding-right: 17px;
    padding-left: 17px;
  }
  .footer-nav li:last-child {
    padding-left: 17px;
  }
  .footer-nav li a {
    display: block;
    color: #7f7f7f;
  }
  .footer-nav li a:hover {
    -moz-transition-duration:0.5s;
    -webkit-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    transition: 0.5s;
    opacity: 0.5;
  }
  .footer-copyright {
    height: 20px;
    line-height: 20px;
    color: #7f7f7f;
    float: left;
  }

}

/* sp */
@media screen and (max-width:768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  body {
    font-size: 1.2rem;
    font-size: 12px;
  }
  h3 {
    font-size: 2.4rem;
    font-size: 24px;
  }
  /* ヘッダー */
  header {
    background: #fff;
    position: relative;
  }
  .header-wrap {
    width: 100%;
    height: 62px;
    position: fixed;
    top: 0;
    padding: 0 10px;
    background: #fff;
    z-index: 103;
  }
  h1 {
    position: absolute;
    padding-top: 20px;
    padding-left: 10px;
    z-index: 110;
  }
  h1 a {
    display: inline-block;
  }
  .toggle {
    position: fixed;
    right: 0px;
    top: 10px;
    display: block;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 81;
  }
  .toggle span {
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: solid 2px #a3a3a3;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    right: 15px;
  }
  .toggle span:nth-child(1) {
    top: 10px;
  }
  .toggle span:nth-child(2) {
    top: 16px;
  }
  .toggle span:nth-child(3) {
    top: 23px;
  }
  .toggle span:nth-child(4) {
    border: none;
    width: 100%;
    padding-top: 33px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }
  .toggle.active span:nth-child(1) {
      top: 15px;
      left: -15px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  .toggle.active span:nth-child(2),
  .toggle.active span:nth-child(3) {
      top: 15px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  /* .global_nav */
.global-nav {
    position: fixed;
    top: 62px;
    left: 0;
    width: 100%;
    transform: translateY(-150%);
    z-index: 80;
    background: #fff;
    transition: all 0.8s;
}
.global-nav li a {
    display: block;
    color: #333;
}
.global-nav.active {
    transform: translateY(0%);
    z-index: 105;
}
  .global-nav li {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    /* border-bottom: solid 1px #333; */
  }
  .global-nav li:not(:last-child) {
    border-bottom: solid 1px #a3a3a3;
  }
  .global-nav li:last-child {
    height: 40px;
    line-height: 40px;
  }
  /* メイン */
  main {
    margin-top: 62px;
  }
  .btn {
    font-size: 1rem;
    font-size: 10px;
    display: block;
    width: 185px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  /* メインビジュアル */
  .mv {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.mv ul {
    width: 100%;
    height: 100%;
    padding-top: 162%;
    overflow: hidden;
    position: relative;
}

.mv ul li {
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: none;
    position: absolute;
}
.mv ul li img {
  width: 100%;
  height: auto;
}
.mv-logo {
  position: absolute;
  bottom: 21.8%;
  left: 16.6%;
  z-index: 20;
}
.mv-logo img {
  width: 65.4vw;
  height: auto;
}
.mv-instagram {
  position: absolute;
  bottom: 8.5%;
  left: 19.6%;
  z-index: 19;
}
.mv-instagram img {
  width: 59.9vw;
  height: auto;
}
  .mv .bottom-btn {
    display: block;
    width: 4%;
    height: 2.5%;
    border-left: solid 2px #fff;
    border-bottom: solid 2px #fff;
    transform: rotate(-45deg);
    color: #fff;
    position: absolute;
    bottom: 3.5%;
    left: 48.1%;
    z-index: 104;
  }
  /* LARGER THAN LIFE */
  .larger-than-life-wrap {
    padding: 0 20px;
    padding-top: 30px;
  }
  .larger-than-life h2 {
    width: 188px;
    height: 30px;
    margin: 0 auto;
  }
  .larger-than-life-txt-wrap {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .larger-than-life-txt {
    line-height: 24px;
    padding-bottom: 25px;
  }
  .larger-than-life-txt-wrap .btn {
    margin: 0 auto;
    border: solid 1px #000;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .larger-than-life-txt-wrap .btn:before {
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    transform: rotate(-45deg);
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 1px;
  }
  .larger-than-life-txt-wrap .btn:hover {
    background: #000;
    color: #fff;
  }
  .larger-than-life-txt-wrap .btn:hover:before {
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
  }
  /* スライダー */
  .slider-wrap {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  .slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  .slider .slider-cont {
    width: 100%;
    height: 100vh;
    padding-top: 162vw;
    overflow: hidden;
    position:relative;
  }
  .slider .slider-cont .slider-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .slider-img img {
    width: 100%;
    height: auto;
  }
  .slider-link {
    max-width: 100%;
    height: auto;
    color: #fff;
    padding-top: 28px;
  }
  .slider-link-box {
    width: 280px;
    margin: 0 auto;
    padding-bottom: 35px;
  }
  .slider-link a {
    color: #fff;
  }
  .kingdome {
    background: #1e2b60;
  }
  .flash {
    background: #000;
  }
  .kingdome p {
    font-size: 1rem;
    font-size: 10px;
    margin-top: 18px;
    line-height: 20px;
  }
  .flash p {
    font-size: 1rem;
    font-size: 10px;
    margin-top: 28px;
    line-height: 20px;
  }
  .slider-link .btn {
    margin: 0 auto;
    margin-top: 37px;
    border: solid 1px #fff;
    color: #fff;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
    padding-bottom: 35px;
  }
  .slider-link .btn:before {
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: rotate(-45deg);
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 1px;
  }

  .kingdome .btn:hover {
    background: #fff;
    color: #1e2b60;
  }
  .kingdome .btn:hover:before {
    border-bottom: solid 1px #1e2b60;
    border-right: solid 1px #1e2b60;
  }
  .flash .btn:hover {
    background: #fff;
    color: #000;
  }
  .flash .btn:hover:before {
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
  }

  /* インデックス */
  .index {
    /* margin-top: 20px; */
  }
  .index-wrap {
    padding: 0 20px;
  }
  .index-item {
    position: relative;
    max-width: 335px;
    height: 139px;
    overflow: hidden;
    padding-top: 47px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  }
  .index-item h3 {
    padding-bottom: 10px;
  }
  .index-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .index-item:last-child {
    margin-bottom: 50px;
  }
  .index-item:after {
    width: 100%;
    height: 100%;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
    position: absolute;
    content: ' ';
    display: block;
    top: 0;
  }
  .index-item:hover:after {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .index-item a {
    color: #fff;
    display: block;
    margin: -124px 0 -130px;
    padding: 124px 0 130px;
    position: relative;
    z-index: 1;
  }
  .product:after {
    background: url(../sp_images/sp_product.png) no-repeat center / contain;
  }
  .shop:after {
    background: url(../sp_images/sp_shop.png) no-repeat center / contain;
  }
  .special-movie:after {
    background: url(../sp_images/sp_special_movie.png) no-repeat center / contain;
  }
  .friends:after {
    background: url(../sp_images/sp_friends.png) no-repeat center / contain;
  }

  /* ニュース */
  .news-wrap {
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .news-wrap h3, .news-sab {
    text-align: center;
  }
  .news-wrap h3 {
    padding-bottom: 12px;
  }
  .news {
    margin-top: 21px;
    margin-bottom: 34px;
  }
  .news li a {
    display: block;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .news li a:hover {
    opacity: 0.8;
  }
  .news li {
    max-width: 335px;
    margin: 0 auto;
  }
  .news li:not(:last-child) {
    margin-bottom: 23px;
  }
  .news li img {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
  }
  .news li time {
    font-size: 1.4rem;
    font-size: 14px;
  }
  .news li h4 {
    font-size: 1.4rem;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .news li p {
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  .news-wrap .btn {
    margin: 0 auto;
    border: solid 1px #000;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .news-wrap .btn:before {
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    transform: rotate(-45deg);
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 1px;
  }
  .news-wrap .btn:hover {
    background: #000;
    color: #fff;
  }
  .news-wrap .btn:hover:before {
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
  }
  /* ページトップ */
  .page-top-wrap {
    padding: 0 20px;
    border-top: solid 1px #d4d4d4;
  }
  .page-top {
    display: block;
    height: 34px;
    padding-top: 13px;
  }
  .page-top:after {
    content: ' ';
    display: block;
    width: 13px;
    height: 13px;
    border-right: solid 1px #a9a9a9;
    border-top: solid 1px #a9a9a9;
    transform: rotate(-45deg);
    margin: 0 auto;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .page-top:hover:after {
    opacity: 0.5;
  }
  /* フッター */
  .footer-wrap {
    text-align: center;
  }
  .footer-nav {
    padding: 2px 20px;
    border-top: solid 1px #d4d4d4;
  }
  .footer-nav li {
    display: inline-block;
    padding: 12px 0;
  }
  .footer-nav li:not(:first-child) a  {
    border-left: solid 1px #d4d4d4;
  }
  .footer-nav li a {
    display: inline-block;
    padding: 0 11px;
    color: #6d6c71;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .footer-nav li a:hover {
    opacity: 0.5;
  }
  .footer-sns {
    border-top: solid 1px #d4d4d4;
    border-bottom: solid 1px #d4d4d4;
    padding: 0 20px;
    height: 45px;
  }
  .footer-sns li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 12px;
  }
  .footer-sns li:not(:last-child) a {
    border-right: solid 1px #d4d4d4;
  }
  .footer-sns li  a{
    display: block;
    margin: -12px 0;
    padding: 12px 0;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    transition: 0.5s;
  }
  .footer-sns li  a:hover{
    opacity: 0.5;
  }
  .footer-sns li i {
    font-size: 2rem;
    font-size: 20px;
    color: #d4d4d4;
  }
  .footer-copyright {
    line-height: 16px;
    padding: 10px 20px;
    color: #282234;
  }

}
